body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    color: #000;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background: #edf3ff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .bodycontainer{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start; /* Align elements at the top */
  }

  .left-container {
    width: 65%; /* Takes about 65% of the space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the elements */
}

  .headercontainer{
    max-width: auto;
    padding: 5px;
    background: linear-gradient(to right, #295abb, #6892e2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .numbercontainer{
    max-width: 250px;
    padding: 20px;
  }

  .cashcontainer{
    max-width: 250px;
  }

  .viewcontainer{
    width: 35%;
    height: 340px;
    background: #ffd11d;
    padding: 15px;    
    border-bottom-right-radius: 10px;
    border-left: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
    color: #1f2936;
  }

  h1 {
    color: #ffea21;
  }

  h3 {
    font-size: 15px;
    text-align: left;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .number-button {
    background: #222222;
    color: #fff;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 3px solid #333;
    box-shadow: 0px 0px 5px #999;
  }
  
  .number-button.selected {
    border: 3px solid #c93623;
  }
  
  .money-button {
    color: white;
    background: linear-gradient(to right, #295abb, #6892e2);
    border-radius: 50px;
    width: 40px;    
    box-shadow: 0px 0px 5px #999;
  }

  .money-button:hover {
    background: linear-gradient(to right, #6892e2, #295abb);
  }
  
  .action-button {
    background: linear-gradient(to right, #f8c531, #ffdc52);
    color: #222222;
    font-weight: bold;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 0px 5px #d1d1d1;
  }

  .action-button:hover {
    background: linear-gradient(to right, #ffdc52, #f8c531);
    color: #090775;
  }